/* phone usage */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 425px) {
  body {
    width: 100vw;
    height: 100vh;
    font-size: 2em;
  }
  header {
    width: 100%;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
  }
  .categories-list {
    display: flex;
    width: 100vw;
    overflow: scroll;
  }
  .categories-list div {
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.1rem;
  }
  .current-project-tasks,
  .task {
    padding: 0.7rem;
  }
}
