@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/* phone usage */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #2e2e2e;
}
:root {
  --task-color-1: #fe5147;
  --task-color-2: #fe9e41;
  --task-color-3: #f8c509;
  --task-color-4: #43a0ff;
  --add-color: #25c06e;
  --border-colors: #a1afa4d0;
}
body {
  font-size: 2em;
  position: relative;
}
.add {
  position: fixed;
  bottom: 0vh;
  right: 0;
  width: fit-content;
  height: fit-content;
}
.options {
  font-size: 1.5rem;
  background-color: #eee;
  display: inline-block;
  position: absolute;
  right: 2vw;
  bottom: 20vh;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.options div {
  margin-bottom: 10px;
  padding: 0px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.options div:hover {
  background-color: #ccc;
}
.options div:first-of-type {
  margin-top: 10px;
}
.add-new {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  background-color: var(--add-color);
  color: white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 70%;
  font-size: 3em;
}
.categories-list {
  display: flex;
}
.categories-list div {
  border: none;
  padding: 0.5rem;
  margin: 0.1rem;
  margin-right: 0.3rem;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}
.categories-list div:hover {
  transform: scale(1.1);
  margin: 0 10px;
}
h2 {
  display: inline-block;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
  border-bottom: 1px solid var(--border-colors);
}
.categories-list > div:nth-child(1),
.categories-list > div:nth-child(5),
.current-project-tasks > .task:nth-child(1) {
  background-color: var(--task-color-1);
}
.categories-list > div:nth-child(2),
.current-project-tasks > .task:nth-child(2) {
  background-color: var(--task-color-2);
}
.categories-list > div:nth-child(3),
.current-project-tasks > .task:nth-child(3) {
  background-color: var(--task-color-3);
}
.categories-list > div:nth-child(4),
.current-project-tasks > .task:nth-child(4) {
  background-color: var(--task-color-4);
}
.task {
  padding-left: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  column-gap: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.done-marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

@media screen and (min-width: 426px) {
  body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 85%;
  }
  header {
    padding: 0.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
  }
  .task {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  body {
    height: 100vh;
    width: 100vw;
  }
  header {
    width: 100%;
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-colors);
  }
  .categories-list {
    display: flex;
    width: 100vw;
    overflow: scroll;
    padding-left: 0.5rem;
  }
  .categories-list div {
    border: 1px solid var(--border-colors);
    padding: 0.5rem;
    margin: 0.1rem;
    cursor: pointer;
    border-radius: 10px;
    color: white;
  }
  .categories-list > div:nth-child(1),
  .categories-list > div:nth-child(5),
  .current-project-tasks > .task:nth-child(1) {
    background-color: var(--task-color-1);
  }
  .categories-list > div:nth-child(2),
  .current-project-tasks > .task:nth-child(2) {
    background-color: var(--task-color-2);
  }
  .categories-list > div:nth-child(3),
  .current-project-tasks > .task:nth-child(3) {
    background-color: var(--task-color-3);
  }
  .categories-list > div:nth-child(4),
  .current-project-tasks > .task:nth-child(4) {
    background-color: var(--task-color-4);
  }
  .current-project-tasks {
    padding-left: 0.5rem;
  }
  .task {
    border-radius: 10px;
    width: 90vw;
    margin-bottom: 5px;
    padding: 1rem;
    color: white;
  }
  .add {
    bottom: 0%;
    right: 0vw;
  }
  .options {
    bottom: 15vh;
  }
}
